<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">@ViewData["title"]</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-action="Index">@Context.Request.Path.ToString().Replace("/Blogs", "")</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@Context.Request.Path.ToString().Replace("/Blogs", "Blogs")</a></li>
        @* <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li> *@
    </ol>
</div>
<hr />

<div class="row g-4">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid" src="img/blog-1.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <img class="img-fluid" src="img/blog-2.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="img-fluid" src="img/blog-3.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid" src="img/blog-2.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <img class="img-fluid" src="img/blog-3.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="img-fluid" src="img/blog-1.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid" src="img/blog-3.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <img class="img-fluid" src="img/blog-1.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="img-fluid" src="img/blog-2.jpg" alt="">
        <div class="bg-light p-4">
            <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
            <div class="text-muted border-top pt-4">
                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
            </div>
        </div>
    </div>
    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Load More</a>
    </div>
</div>