@model SubscriberDto
@{
    Layout = null;
}
@{
    var errrorCount = (int?)ViewData["hassErrors"];
}
<div class="col-lg-6">
    @if (errrorCount > 0 || errrorCount != null)
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }
    <form method="post" asp-action="AddSubscriber" asp-controller="Subscribers">
        <div class="position-relative mx-auto">
            <input asp-for="@Model.SubscriberEmail" type="email" class="form-control border-0 w-100 py-3 px-4 rounded-pill" placeholder="Your Email" required>
            <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
        </div>
    </form>
</div>