@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">@ViewData["title"]</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-action="Login">@Context.Request.Path.ToString().Replace("/Auth/ResetPasswordConfirmation", "Auth")</a></li>
        <li class="breadcrumb-item"><a asp-action="Login">@Context.Request.Path.ToString().Replace("/Auth/ResetPasswordConfirmation", "ResetPasswordConfirmation")</a></li>
        @* <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li> *@
    </ol>
</div>

<div class="d-flex justify-content-center m-3">
    <p>Your password has been reset successfully. You can now <a asp-action="Login" asp-controller="Auth">log in</a> with your new password.</p>
</div>